<!DOCTYPE html>
<head>
  <title>OpenAI Quickstart</title>
  <link
    rel="shortcut icon"
    href="{{ url_for('static', filename='cap.PNG') }}"
  />
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
</head>

<body>
  <img src="{{ url_for('static', filename='cap.PNG') }}" class="icon" />
  <h3>Career Path Advisor</h3>
  <h5>Enter a list of soft/hard skills you possess. OpenAI will assess your response and provide you with career path options.</h5>
  <form action="/" method="post">
    <textarea name="skills" placeholder="Enter your skills" value="Python, Mathematics, Chess, Java" required /></textarea>
    <input type="submit" value="Provide career path" />
  </form>
  {% if result %}
  <div class="result">{{ result|safe }}</div>
  {% endif %}
</body>
